@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Abel&family=Montserrat&family=Nunito+Sans&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Oswald&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,600&family=Quicksand:wght@400;500;600;700&family=Rubik:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap');



*{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}


/* header css */
.navigation{
    box-shadow: 0px 15px 10px -15px #11111147;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}
.logo-box{
    width: 19% ;
}
.logoimg{
    width: 90%;
    height: auto;
    object-fit: contain;
}

.navbar{
    padding: 13px 12px;
    
}
.navbar-search{
    width: 35%;
}

.navbar-collapse{
    justify-content: end;
}

 .navbar-nav li{
    padding-left: 11px;
    padding-right: 11px;
    text-decoration: none;
}
.navbar-search input{
    border-radius: 26px;
    border-color: #F15E2B;
    padding: 7px 43px;
}
.nav-link{
  
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px!important;
    color: #F15E2B;
    font-weight: bolder;
    display: inline;
}

.nav-link:hover{
    opacity: .6;
    border-bottom: solid 3px #f15924;
    /* transform: scaleX(0); */
    transition: transform 250ms ease-in-out;
  
}
ul{
    list-style: none;
}


.dropdown-item:hover{
    color: #F15E2B !important;
}
/* home page css */
/* slider css */

.home{
    width: 100%;
    max-width: 1505px;
}
li.blocks-gallery-item.wdt {
    margin-right: 10px;
      margin-left: 10px;
      
  }
  
  
  img.slider-top-img {
    width: 100%;
   
    height: 100%;
    max-height: 162px;
  }


.slider-heading{
text-align: left;
font-weight: 700;
font-size: 24px;
padding: 0 0 0 30px;
}
.slider{
    margin-bottom: 40px;
}
.about-slider1{
    margin: 23px 0;
}
.react-multiple-carousel__arrow--left{
    left:0;
    top:65px;
    z-index: 1 !important;
}
.react-multiple-carousel__arrow--right{
    right: 0;
    top:65px;
    z-index: 1 !important;
}
.superhit ul ,.trnding-area ul{
    width: 100%;
}
.trnding-area li{
    margin: 0 12px;
}
.superhit-img , .searchimg{
width: 92%;
}
.slider-img{
  
    border-radius: 7px;
    height: 170px;
}

.Releaseimg{
    width: 75%;
}
.searchimg{
    border-radius: 90px;
    width: 78%;
    border: 4px solid #F15C27;

}
/* .searchimg:hover, .slider-top-img:hover{
    filter: blur(1px);
    /* transition: 0.5s ease-in-out; */
 

figure:hover{
   
}
.songname p{
    font-size:16px;

    font-weight: 700;
}
.ft-bnr{
    margin-bottom: 30px;
}

/* footer css */
.footer{
   
    font-family: 'Nunito Sans', sans-serif;
}
.footer-content{
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    padding: 20px 0;
}
.top-footer-para{
    text-align: center;
    padding: 21px 0;
}
.top-footer-para h2{
    font-weight: 600;
    margin: 20px 0;
}
.about-para{
    word-spacing: 4px;
}


.footer-album,.footer-genres ,.footer-artist ,.footer-release{
    width: 30%;
   
}
.album-list ,.genres-list ,.artist-list , .release-list{
    padding: 0;
}
.footer-awsfnts{
    text-align: center;
 
}
.icon{
    margin: 20px;
    font-size: 40px;
}
.footer-para{
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    color: #484851;
    font-size: 13px;
    line-height: 1.3;
}
.top-footer-para p{
    font-size: 17px;
    width: 58%;
    margin: 0 auto;
}

.bullet{
  list-style: none;
  font-size: 12px;
}
.foo-heading{
    font-size: 14px !important;
    font-weight: 600;
    text-transform: capitalize;
}
.menu1-content ,.menu2-content ,.menu3-content ,.menu4-content{
    padding-right: 35px;
}
.anchor-foo{
    text-decoration: none;
    color: #525257;
    line-height: 2.2em;
}
.bottom-footer-para{
    border-top: 1px solid #66666663;
    padding: 25px 0;
    text-align: center;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
}
.view {
    font-size: 12px;
    color: red;
    font-weight: 600;
}
.fa-facebook-official{
    color: #F15A26;
}
.fa-facebook-official:hover{
    color: #ea8c6d;
}
.fa-twitter-square{
    color: #F15A26;
}
.fa-twitter-square:hover{
    color: #ea8c6d;
}
.fa-instagram{
    color: #F15A26;
}
.fa-instagram:hover{
    color: #ea8c6d;
}
.fa-youtube-play{
    color: #F15A26;
}
.fa-youtube-play:hover{
    color: #ea8c6d;
}


/* trending-css */
.trend{
    padding: 40px 0;
}
.bigimg img{
    height: 300px;
    border-radius: 10px;
   
}
.listimg img{
    height: 30px;
    width: 30x;
}
.trend-area{
    margin: 0 auto;
    width: 95%;
}
.sec-1{
    display: flex;
    margin-bottom: 50px;
    background: #ff00000d;
}
.Trending-song{
    margin-top: 75px;
    padding: 0 0 0 32px;
}
.Trending-song p{
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.75em;
    color: #666;
    font-size: 15px;
}
.song-about{
    display: flex;
    width: 75%;
    list-style: none;
    border-bottom: 1px solid hsl(0deg 12% 84%);
    color: #666;
    font-size: 14px;

}
.songabt-img{
    width: 100px;
}
.songabt ,.heading-row{
    display: flex;
    width: 85%;
}
.track{
    display: flex;
    width: 50%;
}
.imgsong{
    display: none;
}
.heading {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
}
.footer-btn{
    color: white;
    background: #E72C30;
    border: none;
    padding: 7px 45px;
    border-radius: 29px;
    font-size: 17px;
    margin: 40px 0 0 0;
    text-transform: capitalize;
}
.Trending-song h2{
    margin-bottom: 25px;
}
.songabt-dur ,.row-item{
    width: 6%;
}


/* newsong css */
.newsong-page{
    margin: 50px 0;
    font-family: 'Nunito Sans', sans-serif;
}
.ul-song{
    width: 100%;
}
.card-area{
    grid-template-columns: repeat(auto-fill,minmax(144px,1fr));
    grid-column-gap: 76px;
    grid-row-gap: 26px;
    display: grid;
    padding: 0;
}
.newsng-container{
  text-align: center;
}
.box-img img{
    width: 100%;
    border-radius: 6px;
}
.song-name{
    text-align: left;
    margin: 5px 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.card{
    border: none;
}
.newsong-head{
    text-align: left;
    font-weight: bold;
}
.btn-head{
    margin: 20px 0;
    text-align: left;
    width: 100%;
}
.small-btn{
    display: inline-block;
    width: 16%;
}
.btn-color{
    color: #0000008a;
    font-weight: 500;
    padding: 6px 41px;
    border-radius: 27px;
    border: 1px solid #00000024;
}
.box-song{
    text-decoration: none;
    color: #000000db;
}
.song1-para{
    font-size: 12px;
    line-height: 1.75em;
}