@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Abel&family=Montserrat&family=Nunito+Sans&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Oswald&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,600&family=Quicksand:wght@400;500;600;700&family=Rubik:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap');



*{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}


/* header css */
.navigation{
    box-shadow: 0px 15px 10px -15px #11111147;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}
.logo-n-toggle{
    width: 20%;
}
.logo-box{
    width: 19% ;
}
.logoimg{
    width: 90%;
    height: auto;
    object-fit: contain;
}

.navbar{
    padding: 13px 12px;
    
}
.navbar-search{
    width: 35%;
}

.navbar-collapse{
    justify-content: end;
}

 .navbar-nav li{
    padding-left: 11px;
    padding-right: 11px;
    text-decoration: none;
    cursor: pointer;
}
.navbar-search input{
    border-radius: 26px;
    border-color: #F15E2B;
    padding: 7px 43px;
}
.nav-link{
  
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px!important;
    color: #F15E2B !important;
    font-weight: bolder;
    display: contents;
}

.nav-link:hover{
    opacity: .6;
    color: #000000 !important;
    border-bottom: solid 3px #f15924;
    /* transform: scaleX(0); */
    opacity: 1;
    transform: scaleX(1);
    transition: color 300ms ease 0ms;
}
button.navbar-toggler.collapsed{
    border: none;

}
ul{
    list-style: none;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
    margin-top: 21px;
    position: absolute;
    box-shadow: 1px 9px 39px 5px #888888a1;
    border: none;
}
.dropdown-item{
    color: #F15E2B;
    font-weight: 800;
    line-height: 2.2em;

}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
   
 }
 
 .dropdown-menu ul{
  text-align: center;
  padding: 0;
}

.dropdown-item:hover{
    color: #F15E2B !important;
    border-bottom: solid 3px #f15924;
    transform: scaleX(1);
    transition: transform 250ms ease-in-out;
}
/* home page css */
/* slider css */

.home{
    width: 100%;
    max-width: 1505px;
}
li.blocks-gallery-item.wdt {
    margin-right: 10px;
      margin-left: 10px;
      
  }
  button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left{
    top:55px !important;
  }
  button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right{
    top:55px !important;
    right: 10px !important;
  }
  
  img.slider-top-img {
    width: 100%;
   
    height: 100%;
    max-height: 172px;
  }
  /* .ft-bnr{
    width: 1125px;
  } */

.playyicon i{
    font-size: 35px;
    display: none!important;
}
.slider-heading{
text-align: left;
font-weight: 700;
font-size: 24px;
padding: 0 0 0 30px;
}
.slider{
    margin-bottom: 40px;
}
.about-slider1{
    margin: 23px 0;
}
.react-multiple-carousel__arrow--left{
    left:0;
    top:65px;
    z-index: 1 !important;
}
.react-multiple-carousel__arrow--right{
    right: 0;
    top:65px;
    z-index: 1 !important;
}


.about-slider1 {
    margin: 23px 0;
    /* width: 1125px; */
}
.slider-img {
    border-radius: 21px;
    height: 161px;
    padding: 0 11px;
    width: 206px;
}
.superhit-img{
    width: 100%;
    border-radius: 0;
}
.song-about:hover{
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    cursor: pointer;
    color: #454242;
}

img.art-img{
    width: 100%;
    max-width: 500px;
    box-shadow: 5px 8px 11px 0px #888888 !important
}
img.slider-img.Releaseimg ,img.slider-img.trnding-img{
width: 100%;
max-width: 264px;
}

    .trendimg img {
        height: 100%;
        max-height: 200px;
        width: 100%;
        max-width: 300px;
        box-shadow: 5px 8px 11px 0px #888888 !important;
    }
  


/* .Releaseimg{
    width: 75%;
} */
.searchimg {
    padding: 0;
    border-radius: 90px;
    width: 170px;
      border: 4px solid #F15C27;
    object-fit: cover;
    height: 166px;
}



.songname p{
    font-size:16px;
text-transform: capitalize;
    font-weight: 700;
}
.ft-bnr{
    margin-bottom: 30px;
}

/* footer css */
.footer{
    margin-bottom: 100px;
    font-family: 'Nunito Sans', sans-serif;
}
.footer-content{
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    padding: 20px 0;
}
.top-footer-para{
    text-align: center;
    padding: 21px 0;
}
.top-footer-para h2{
    font-weight: 600;
    margin: 20px 0;
}
.about-para{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about-para2{
    padding-right: 18px;
    cursor: pointer;
}



.footer-album,.footer-genres ,.footer-artist ,.footer-release{
    width: 30%;
   
}
.album-list ,.genres-list ,.artist-list , .release-list{
    padding: 0;
}
.footer-awsfnts{
    text-align: center;
 
}
.icon{
    margin: 20px;
    font-size: 40px;
}
.footer-para{
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    color: #484851;
    font-size: 13px;
    line-height: 1.3;
}
.top-footer-para p{
    font-size: 17px;
    width: 58%;
    margin: 0 auto;
}

.bullet{
  list-style: none;
  font-size: 12px;
}
.foo-heading{
    font-size: 14px !important;
    font-weight: 600;
    text-transform: capitalize;
}
.menu1-content ,.menu2-content ,.menu3-content ,.menu4-content{
    padding-right: 35px;
}
.anchor-foo{
    text-decoration: none;
    color: #525257;
    line-height: 2.2em;
    text-transform: capitalize;
}
.bottom-footer-para{
    border-top: 1px solid #66666663;
    padding: 25px 0;
    text-align: center;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
}
.view {
    font-size: 12px;
    color: red;
    font-weight: 600;
}
.fa-facebook-official{
    color: #F15A26;
}
.fa-facebook-official:hover{
    color: #ea8c6d;
}
.fa-twitter-square{
    color: #F15A26;
}
.fa-twitter-square:hover{
    color: #ea8c6d;
}
.fa-instagram{
    color: #F15A26;
}
.fa-instagram:hover{
    color: #ea8c6d;
}
.fa-youtube-play{
    color: #F15A26;
}
.fa-youtube-play:hover{
    color: #ea8c6d;
}
.blocks-gallery-item{
    position: relative;
}

.blocks-gallery-item:hover .playyiconhome{
    display: block;
}
.fa-play-circle-o{
    font-size: 38px;
    cursor: pointer;
    color: white;
}
.playyiconhome{
 
    left: 56px;
    position: absolute;
    top: 40%;
    left: 45%;
    display: none;
    color:white;
}
/* player css */

.playertwo {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1353px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button.rhap_button-clear.rhap_main-controls-button.rhap_play-pause-button path{
    color:#f15924;
}
.rhap_container.rhap_loop--off.rhap_play-status--paused {
    border-radius: none;
}
.rhap_progress-filled,.rhap_progress-indicator{
    color: #F15F2D 
}
.rhap_button-clear {
    color: #F15F2D !important;
}
.rhap_volume-indicator , .rhap_progress-filled ,.rhap_progress-indicator{
    background-color: #f15924 !important;
}
.rhap_progress-bar{
    background-color: #dfd2d2 !important;
}
.rhap_header {
    margin-bottom: 5px;
    color:black;
    font-weight: 600;
    font-size: 15px;
}
.rhap_container{
    padding: 6px 15px 0 15px !important;
}
/* trending-css */
.trend{
    padding: 40px 0;
}
.bigimg img{
    /* height: 300px; */
    border-radius: 10px;
   
}
.listimg img{
    height: 30px;
    width: 30x;
    cursor: pointer;
}
.trend-area{
    margin: 0 auto;
    width: 95%;
}
.sec-1{
    display: flex;
    margin-bottom: 50px;
    background: #ff00000d;
}
.Trending-song{
    margin-top: 30px;
    padding: 0 0 0 32px;
}
.Trending-song p{
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.75em;
    color: #666;
    font-size: 15px;
}
.song-about{
    display: flex;
    width: 75%;
    list-style: none;
    border-bottom: 1px solid hsl(0deg 12% 84%);
    color: #666;
    font-size: 14px;

}

.song-about{
    position: relative;

}
.song-about:hover .playyicon{
    display: block;
}
.playyicon {
    left: 56px;
    position: absolute;
    top: 0;
    display: none;
    color: #f6f0f0bf;
}
.slider-img:hover{
    backdrop-filter: blur(10px);
    filter: blur(2px)
}

.songabt-img{
    width: 100px;
   
}
.songabt-img .anchor-foo{
    display: none;
}



.songabt ,.heading-row{
    display: flex;
    width: 85%;
}
.track{
    display: flex;
    width: 50%;
}
.imgsong{
    display: none;
}
.heading {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
}
.footer-btn{
    color: white;
    background:#d3582d;
    border: none;
    padding: 7px 45px;
    border-radius: 29px;
    font-size: 17px;
    margin: 40px 0 0 0;
    text-transform: capitalize;
}
.Trending-song h2{
    margin-bottom: 9px;
    text-transform: capitalize;
}
.songabt-dur ,.row-item{
    width: 6%;
}


/* newsong css */
.newsong-page{
    margin: 50px 0;
    font-family: 'Nunito Sans', sans-serif;
}
.ul-song{
    width: 100%;
}
.card-area{
    grid-template-columns: repeat(auto-fill,minmax(144px,1fr));
    grid-column-gap: 76px;
    grid-row-gap: 26px;
    display: grid;
    padding: 0;
}
.newsng-container{
    margin: 0 auto;
    width: 79%;

}
.box-img img{
    width: 100%;
    border-radius: 6px;
    object-fit: contain;
    min-width: 189px;
}
.song-name{
    text-align: center;
    margin: 5px 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.card{
    border: none;
}
.newsong-head {
    text-align: left;
    font-weight: bold;
    padding-bottom: 38px;
    font-size: 34px;
}
.btn-head{
    margin: 20px 0;
    text-align: left;
    width: 100%;
}
.small-btn{
    display: inline-block;
    width: 16%;
}
.btn-color{
    color: #0000008a;
    font-weight: 500;
    padding: 6px 41px;
    border-radius: 27px;
    border: 1px solid #00000024;
}
.box-song{
    text-decoration: none;
    color: #000000db;
}
.song1-para{
    font-size: 12px;
    line-height: 1.75em;
}
.tp-art{
    border: solid 1px grey;
    padding: 5px;
    border-radius: 15px;
}
button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
    position: absolute;
    top: 0;
    left: 0;
}
button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
    position: absolute;
    top: 0;
    right: 0;
}

/* upcoming events css */
.sliderrr {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
   
	
	
	
}
	
	
	.slide-trackkk {
		animation: scroll 9000ms linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slideee {
		height: 100px;
		width: 250px;
        width: 100%;
    display: flex;
    justify-content: space-evenly;
	}

.event-h1{
    font-weight: 700;
    font-size: 24px;
    color: #000000!important;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-left: 15px;
    margin-top: 12px;
}
.upcomingEvents {
    margin-top: 25px;
}


.events-h3{
font-weight: 600!important;
    font-variant: small-caps!important;
    font-size: 28px!important;
    color: #ff7722!important;
    letter-spacing: 1px!important;
    line-height: 1.1em!important;
}
.events-h5{
    font-size: 17px!important;
    line-height: 1.8em!important;
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

/* Responsive */


    @media only screen  and (max-width : 727px){
        .top-footer-para p {
            font-size: 14px;
           
        }
      
        .top-footer-para h2 {
            margin: 8px 0;
            font-size: 22px;
    }
    .slider-heading{
        font-size: 22px;
    }
    .slider{
        margin-bottom: 0;
    }
    .bottom-footer-para{
        padding: 10px 0;
    }
    button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left{
      display: none;
    }
    button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right{
        display: none;
    }

.navbar-search{
    width: 90%;
    margin: 0 auto;
}
/* .logoimg{
    width: 30%;
}
.logo-box{
    width: 90%;
} */
.navbar-toggler{
    font-size: 16px;
    border: none !important;
    padding: 0 10px;
}
.navbar-nav{
    margin: 0 auto;
    width: 90%;
}
.navbar-nav li{
    padding: 5px 0;
}
.topMargin{
    margin-top: 150px !important;
}
.playyicon{
    top: 32%;
    left: 44%;
}
}





    @media only screen and (max-width : 991px){
        h2.newsong-head{
            font-size: 24px;
        }
        .logo-n-toggle{
            display: flex;
            width: 100%;
            display: contents;
        }
        .logoimg{
           /* max-width: 300px; */
        }
        .logo-box{
            width: 90%;
        }
        .logo{
            width: 50%;
        }
        .toggle-btn{
            width: 50%;
            text-align: end;
            display: flex;
            justify-content: end;
            align-items: center;
        }
        
        .navbar-toggler-icon{
            background-image: url('../images/toggel.png');
        }
        .sec-1{
            flex-direction: column;
            align-items: center;
           margin: 17px;
        }
        .trendimg{
            width: 260px;
        }
        .bigimg img{
            width: 100%;
            box-shadow: 5px 8px 11px 0px #888888 !important;

        }
        .event-h1{
            font-size: 22px;
        }
        .Trending-song{
            width: 100%;
            margin-top: 18px;
            display: flex;
            flex-direction: column-reverse;
            padding: 0;
        }
        .footer-btn{
            margin: 0;
            width: 100%;
        }
        .trnd-img-about{
            text-align: left;
            margin-top: 15px;
        }
        .Trending-song h2{
            margin-bottom: 0;
            line-height: 1.75em;
        }
        .artist{
            display: none;
        }
        .song-about{
            width: 95%;
            padding: 0;
        }
        .icon{
            margin: 6px;
        }
        .track{
            width: 100%;
        }
        .songabt-dur{
            width: 40%;
        }
        .trend{
            padding: 0;
        }
        .footer-album, .footer-genres, .footer-artist, .footer-release{
            width: 50%;
            text-align: center;
        }
        .navbar-nav{
            line-height: 2em;
        }
        .navbar-search{
            display: none;
        }
       .topMargin {
        margin-top:220px;
    }
    button:focus:not(:focus-visible){
        outline: none;
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .playyicon{
        top: 0%;
    left: 3%;
    }
    .navbar-collapse{
        min-height: 190px;
    }
    .navbar-nav{
        margin: 24px 0;
    }
    .footer-awsfnts{
        padding: 12px 0;
    }
    .footer-content{
       flex-wrap: wrap;
    }
    .about-para{
        flex-direction: column;
       
        padding: 0;
    }
    .about-para2{
        line-height: 2.75em;
    }
    .top-footer-para p{
        width: 80%;
    }
    .event-h1{
        font-size: 22px;
        text-align: center;
    }
    .events-h3{
        font-size: 18px!important;
    }
    .sliderrr{
        box-shadow: none;
    }
    .menu1-content, .menu2-content, .menu3-content, .menu4-content{
        padding: 0;
    }
    li.album-item.bullet{
        text-align: center;
    }
    
    }


@media only screen and (max-width: 1065px) and (min-width: 1025px){
   
    .searchimg {
        width: 154px;
        height: 151px;
    }
}
@media only screen and (max-width: 1295px) and (min-width: 992px){
    .navbar-search {
        width: 24%;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right: 0;
    }
    
}
@media only screen and (max-width: 1326px) and (min-width: 1044px){
    .navbar-search {
        width: 30% !important;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right: 0;
    }
    .navbar-nav li{
        padding-right: 0;
    }
}
@media only screen and (max-width: 1014px) and (min-width: 992px){
    .navbar-search {
        width: 22%;
    }
}

@media only screen and (max-width : 464px){
    .slider-img{
        width: 236px;
        height: 187px;
    }
    img.slider-img.searchimg{
        width: 227px;
        height: 216px;
      border-radius: 119px;
}
    }


  





   